<div class="about__wrapper container">
    <div class="about__content">
        <h1>Web Software Developers</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus aspernatur velit, temporibus veniam
            eligendi autem dolorem corrupti, ullam praesentium quis totam sint explicabo provident repellat fugit
            placeat doloremque dicta expedita enim hic! Unde facere ad enim, itaque ratione illum corporis ullam maiores
            assumenda officiis qui nihil ex nam quia nobis?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, vel corporis ullam similique itaque odio
            vitae repellendus? Numquam, harum atque!</p>
    </div>
    <div class="about__img">
        <img src="../../../assets/web_development.png" alt="development">
    </div>
</div>