<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a routerLink="" class="navbar-brand">First</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="posts" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a routerLink="registration" routerLinkActive="active" class="nav-link">Registration</a>
        </li>
        <li class="nav-item">
          <a routerLink="login" routerLinkActive="active" class="nav-link">Login</a>
        </li>
      </ul>
    </div>
    <button (click)="logout()" class="btn btn-danger mx-2">Log out</button>
  </div>
</nav>