<div class="container">
  <h2>Posts</h2>
  <div class="posts-wrapper">

    <div *ngFor="let post of posts" class="card">
      <img class="card-img-top" src="{{post.img}}" alt="Card image cap">
      <div class="card-body">

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <!-- <h5 class="card-title">{{post.id}}. {{post.title}}</h5> -->
                <h5 class="card-title" appRandomcolor>{{post.id}}. {{post.title | addtext:"Look at this picture!"}}</h5>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="card-text">
              <!-- {{ post.text | slice:0:200 }}... -->
              {{ (post.text.length>200)? (post.text | slice:0:200)+'...':(post.text) }}
              <a routerLink="/posts/{{post.id}}"
              class="link-to-post">
                Read full post
              </a>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>
  </div>