.posts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.card {
    width: 60%;
}

.card-title {
    text-transform: uppercase;
}

.card-text {
    text-align: justify;
}

.link-to-post {
    display: block;
    color: #000;
    width: fit-content;
    border: 1px solid #d3d3d3;
    background-color: #efefef;
    border-radius: 10px;
    padding: 7px 20px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}