<div class="auth">
    <div class="card">
        <div class="text-center">
            <h2>Login</h2>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login">
            <div class="mb-3">
                <input formControlName="email" type="email" class="form-control" id="email" name="email" placeholder="Email">
                <span class="text-danger" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">*Wrong format of email</span>
            </div>
            <div class="mb-3">
                <input formControlName="password" type="password" class="form-control" name="password" id="password" placeholder="Password">
                <span class="text-danger" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">*Password is required</span>
            </div>
            <button [disabled]="!loginForm.valid" class="btn btn-primary authbtn">Login</button>
        </form>
        <a class="link inlineLink" routerLink="/registration">Click to sign up</a>
    </div>
</div>