.auth {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(135deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
}

.card {
    // border: 1px solid #fff;
    // border-radius: 2%;
    border: none;
    height: fit-content;
    width: 500px;
    padding: 40px;
    background-color: transparent;
}

.text-center {
    color: #fff;
}

input {
    margin-top: 30px;
}

input.ng-touched.ng-invalid {
    border:solid red 1px;
}

.authbtn {
    margin-top: 20px;
}

.link {
    width: fit-content;
    display: inline-block;
    color: #fff;
    margin-top: 10px;
}
