<div class="auth">
    <div class="card">
        <div class="text-center">
            <h2>Sign up</h2>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()" class="login">
            <div class="mb-3">
                <input formControlName="name" type="text" class="form-control" id="name" name="name" placeholder="Name">
                <span class="text-danger" *ngIf="signupForm.controls['name'].invalid && signupForm.controls['name'].touched">*Name is required</span>
            </div>
            <div class="mb-3">
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
                <span class="text-danger" *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched">*Wrong format of email</span>
            </div>
            <div class="mb-3">
                <input formControlName="password" type="password" class="form-control" name="password" id="password" placeholder="Password">
                <span class="text-danger" *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched">*Password is required</span>
            </div>
            <div class="mb-3">
                <input formControlName="confirmPassword" type="password" class="form-control" name="confirmPassword"
                    id="confirmPassword" placeholder="Confirm password">
                    <span class="text-danger" *ngIf="signupForm.hasError('notSame') && signupForm.controls['confirmPassword'].touched">*Your passwords are not match</span>
                    <!-- <span class="text-danger" *ngIf="signupForm.controls['confirmPassword'].touched">*Confirm password is required</span> -->
            </div>
            <button [disabled]="!signupForm.valid" class="btn btn-primary authbtn">Sign up</button>
        </form>
        <a class="link" routerLink="/login">Click to Sign in</a>
    </div>
</div>