<div class="container">
    <div *ngIf="post" class="post">
        <img class="post__img" src="{{post.img}}" alt="Card image">
        <h5 class="post__title">{{post.title}}</h5>
        <p class="post__text">{{post.text}}</p>
        <button type="button" (click)="goBack()" class="link-to-post">Back</button>
    </div>
</div>