.post {
    padding-top: 20px;
    text-align: center;
}

.post__img {
    width: 60%;
}
.post__title {
    padding-top: 40px;
    font-size: 22px;
    text-transform: uppercase;
}

.post__text {
    text-align: justify;
}

.link-to-post {
    display: block;
    color: #000;
    width: fit-content;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 7px 20px;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}