* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// app-header {
//     flex: 0 0 auto;
// }
router-outlet {
    flex: 1 0 auto;
}
// app-footer {
//     flex: 0 0 auto;
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
